<div *ngFor="let l of liste">

  <div class="card mt-4">
    <img class="card-img-top img-fluid" [src]="l.photo" alt="">
    <div class="card-body">
      <h3 class="card-title">{{ l.code }}</h3>

    </div>
  </div>

  <div class="card mt-4">
    <img class="card-img-top img-fluid" [src]="l.photo" alt="">
    <div class="card-body">
      <h3 class="card-title">{{ l.code }}</h3>

    </div>
  </div>
  <div class="card mt-4">
    <img class="card-img-top img-fluid" [src]="l.photo" alt="">
    <div class="card-body">
      <h3 class="card-title">{{ l.code }}</h3>

    </div>
  </div>
</div>
